{% extends 'base.html' %} 
{% block title %}Home{% endblock title %} 
{% block content %} 
{% if user.is_authenticated %} Привет {{ user.firstname }}, ваше направление - {{ user.profession }}! 
<p><a href = "{% url 'logout' %}" > Log Out </a ></p> 
{% else %} 
<p> You are not logged in </p> 
<a href = "{% url 'login' %}" > Log In </a> | 
<a href = "{% url 'signup' %}" > Sign Up </a > 
{% endif %}

{% for theme in themes %}
<p>{{theme.pk}}</p>
<a href = "{% url 'test' theme.pk  %}" > {{ theme.title_test }} </a>
{% endfor %}
{% for r in results %}
<p>{{ r.test }}</p>
<p>{{ r.result }}</p> 

{% endfor %}
</form>



{% endblock content %}