{% extends 'base.html' %} 
{% block title %}Home{% endblock title %} 
{% block content %}



{% for i in indexes %}
<p><b> {{ i }} </b></p>
{% endfor %}
<form action = "{% url 'complete' question.pk  %}" method = "post">{% csrf_token %}
<p><b> {{ question.title }} </b></p>
<p><b> {{ question.pk }} </b></p>
	{% for a in replies %}
	<p><input name =  "answer"  type = "checkbox" value =  "{{ a.answer }}" > {{ a.answer }}</p>
	{% endfor %}
<p><input type = "submit" value = "Отправить"></p>
</form>

{% endblock content %}

